// media queries
$breakpoints: (
  mobile: 0px,
  tablet: 800px,
  desktop: 1600px,
);

@use "/node_modules/sass-mq/mq" with (
  $breakpoints: $breakpoints,
);

@keyframes imageMobileTablet {

  from {transform: scale(.5,.5);}

  to {width: scale(1,1);}
}


@keyframes fadeInVehicle {

  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    width: translateX(0);
  }
}



@keyframes textMobileTablet {

  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    width: translateX(0);
  }
}



.vehicle {
  border-bottom: #EEF1F1 1px solid;
  display: grid;
  grid-template-areas: "a b"
    "a c"
    "a d";
  grid-template-columns: minmax(0, 180px) minmax(auto,1fr);
  grid-template-rows: 1fr min-content 1fr;


  @include mq.mq($from:"tablet") {
    border: 0;
    grid-template-areas: "a"
      "b"
      "c"
      "d";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding-bottom: 8px;

  }

  &__picture {
    display: flex;
    grid-area: a;
    padding-right: 20px;

    @include mq.mq($from:"tablet") {
      padding: 0;
    }
  }

  &__image {
    height: fit-content;
    width: 100%;

    @include mq.mq($from:"tablet") {
      animation-duration: .5s;
      animation-name: imageMobileTablet;
      animation-timing-function: ease-in;

    }
  }

  &__name {
    align-self: flex-end;
    color: #0C121C;
    font-size: 14px;
    font-weight: 600;
    grid-area: b;
    text-transform: uppercase;

    @include mq.mq($from:"tablet") {
      animation-duration: .5s;
      animation-name: textMobileTablet;
      animation-timing-function: ease-in;
      border-bottom: 1px solid;
      border-top: 1px solid;
      justify-self: center;
      margin-top: 20px;
      text-align: center;
      width: fit-content;
    }
  }

  &__price {
    color: #4a4f54;
    font-size: 12px;
    font-weight: 400;
    grid-area: c;
    padding-bottom: 16px;
    padding-top: 8px;

    @include mq.mq($from:"tablet") {
      animation-delay: .3s;
      animation-duration: .6s;
      animation-fill-mode: forwards;
      animation-name: textMobileTablet;
      animation-timing-function: ease-in;
      opacity: 0;
      padding-bottom: 0px;
      padding-top: 18px;
      text-align: center;
    }
  }

  &__description {
    color: #4a4f54;
    font-size: 12px;
    font-stretch: ultra-expanded;
    font-stretch: expanded;
    font-weight: 200;
    grid-area: d;
    letter-spacing: normal;

    @include mq.mq($from:"tablet") {
      animation-delay: .5s;
      animation-duration: .5s;
      animation-fill-mode: forwards;
      animation-name: textMobileTablet;
      animation-timing-function: ease-in;
      opacity: 0;
      padding: 14px 8px 0 8px;
      text-align: center;
    }

  }
}

