// normalize and resets
@use "/node_modules/css-reset-and-normalize/scss/reset-and-normalize";

body {
  font-family: "Montserrat", serif;
  letter-spacing: 1px;
}

.root {
  display: flex;
  justify-content: center;
}
